{% extends "base.html" %}
{% block title %}Supprimer Page - CESIZen{% endblock %}

{% block content %}
  <div class="center">
    <h1>Supprimer cette page ?</h1>
    <p class="subtitle">“{{ page.titre }}”</p>
  </div>

  <div class="card">
    <form method="post">
      {% csrf_token %}
      <button class="btn btn-danger" type="submit">Oui, supprimer</button>
      <a class="btn btn-secondary btn-sm" href="{% url 'page_admin_list' %}" style="margin-left:10px;">Annuler</a>
    </form>
  </div>
{% endblock %}